body{
    background-image: url(../src/bachgroundmedi.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px;
    font-family: Arial, Helvetica, sans-serif;
}
.choix{
    margin-top: 100px;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    
}
.choix img{
    width: 200px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-right: 20px;
}
.choix-man , .choix-auto{
    border-radius: 20px;
    backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    padding: 10px;
    display: flex;
    justify-items: center;
    justify-self: center;
    background: linear-gradient(rgba(255, 255, 255, 0.388),rgba(39, 134, 189, 0.358));
    width: 40%;
    transform: scale(1.2);
}
.choix-man , .choix-auto:hover{
    cursor: pointer;
}
.info{
    text-align: right;
    margin-top: 30px;
}
.info h2{
    color: rgb(0, 0, 104);
    font-weight: bold;
}
